@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="money-transfer-form">
    <form>
            <label>CNP:</label>
            <input/>
            <br />

            <label>IBAN:</label>
            <input />
            <br />

            <label>Amount:</label>
            <input />
            <br />

            <label>Sender Currency:</label>
            <select>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
            </select>
            <br />

            <label>Receiver Currency:</label>
            <select>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
            </select>
            <br />
    </form>
</div>
